Repository CMPUT301F18T20/MedicalPhotoRecord, pull requests merged in 2018-12, with the labels that each got.

#297 The SignUpController was already correct
  app/src/main/java/Controllers/SignUpController.java
Labels: bug

#303 Problem advanced query in elasticsearch with tests
  app/src/androidTest/java/Controllers/ElasticsearchProblemControllerTest.java
  app/src/main/java/Controllers/ElasticsearchProblemController.java
Labels: controller, query, unit test

#304 Records advanced query with tests
  app/src/androidTest/java/Controllers/ElasticsearchRecordControllerTest.java
  app/src/main/java/Controllers/ElasticsearchRecordController.java
Labels: controller, query, unit test

#307 Sign up and Login documentation
  app/src/main/java/Activities/Login.java
  app/src/main/java/Activities/SignUp.java
  app/src/main/java/Controllers/SignUpController.java
Labels: Documentation

#316 Patch activities to make sure they don't crash if an object is not found
  app/src/main/java/Activities/ModifyPatientActivity.java
  app/src/main/java/Activities/ModifyProblemActivity.java
  app/src/main/java/Activities/ModifyProviderActivity.java
  app/src/main/java/Activities/ModifyRecordActivity.java
  app/src/main/java/Activities/ViewCommentRecordActivity.java
  app/src/main/java/Activities/ViewProblemActivity.java
  app/src/main/java/Activities/ViewRecordActivity.java
Labels: bug

#327 Modify home menu activities for search
  .idea/assetWizardSettings.xml
  .idea/codeStyles/Project.xml
  .idea/copyright/CopyrightProfileCmput301.xml
  .idea/copyright/copyright_for_team_x.xml
  .idea/copyright/profiles_settings.xml
  .idea/gradle.xml
  .idea/runConfigurations.xml
  .idea/vcs.xml
  app/src/androidTest/java/Activities/SearchActivityTest.java
  app/src/androidTest/java/Activities/SearchActivityTestPatient.java
  app/src/androidTest/java/Activities/SearchActivityTestProvider.java
  app/src/androidTest/java/Controllers/ElasticsearchProblemControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchRecordControllerTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/Activities/HomeMenuActivity.java
  app/src/main/java/Activities/PatientHomeMenuActivity.java
  app/src/main/java/Activities/ProviderHomeMenuActivity.java
  app/src/main/java/Activities/SearchActivity.java
  app/src/main/java/Activities/ViewMapActivity.java
  app/src/main/java/Controllers/AddCommentRecordController.java
  app/src/main/java/Controllers/ElasticsearchPatientRecordController.java
  app/src/main/java/Controllers/ElasticsearchProblemController.java
  app/src/main/java/Controllers/ElasticsearchRecordController.java
  app/src/main/java/Controllers/GeoLocationController.java
  app/src/main/java/GlobalSettings/GlobalSettings.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Filter.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Problem.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Record.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/SearchableObject.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/activity_view_map.java
  app/src/main/res/layout/activity_patient_home_menu.xml
  app/src/main/res/layout/activity_provider_home_menu.xml
  app/src/main/res/layout/activity_search.xml
  app/src/main/res/layout/activity_view_map.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/cmput301f18t20/medicalphotorecord/FilterUnitTests.java
Labels: UI-Test, basic functionality, controller, query

#332 Controller tests
  .idea/copyright/CopyrightProfileCmput301.xml
  .idea/copyright/copyright_for_team_x.xml
  .idea/copyright/profiles_settings.xml
  .idea/gradle.xml
  .idea/runConfigurations.xml
  .idea/vcs.xml
  app/src/androidTest/java/Controllers/BrowseUserProblemControllerTest.java
  app/src/androidTest/java/Controllers/ModifyPatientRecordControllerTest.java
  app/src/androidTest/java/Controllers/ModifyProviderControllerTest.java
  app/src/androidTest/java/Controllers/ProviderRecordsControllerTest.java
  app/src/main/java/Activities/ProviderViewPatientProblem.java
Labels: controller, unit test
