Repository CMPUT301F18T20/MedicalPhotoRecord, pull requests merged in 2018-11, with the labels that each got.

#143 Michael filter java doc
  .idea/copyright/CopyrightProfileCmput301.xml
  .idea/copyright/profiles_settings.xml
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/BodyLocation.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Filter.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Patient.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/PatientRecord.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Photo.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Problem.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Provider.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/QueryTool.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Record.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Refreshable.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/User.java
Labels: Documentation

#153 Controller tests are up and running
  app/src/androidTest/java/Controllers/ElasticsearchPatientControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchProviderControllerTest.java
  app/src/main/java/Controllers/ElasticsearchPatientController.java
  app/src/main/java/Controllers/ElasticsearchProviderController.java
  app/src/main/java/Enums/INDEX_TYPE.java
  app/src/main/java/GlobalSettings/GlobalSettings.java
Labels: unit test

#179 Added ModifyProblem Activity and Controller
  app/src/main/AndroidManifest.xml
  app/src/main/java/Activities/BrowseUserProblems.java
  app/src/main/java/Activities/ModifyProblemActivity.java
  app/src/main/java/Controllers/ModifyProblemController.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Problem.java
  app/src/main/res/layout/activity_modify_problem.xml
  app/src/main/res/values/strings.xml
Labels: basic functionality, controller

#198 Move uniqueness test to sign up controller tests
  app/src/androidTest/java/Controllers/ElasticsearchPatientControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchProviderControllerTest.java
  app/src/androidTest/java/Controllers/SignUpControllerTest.java
  app/src/main/java/Controllers/SignUpController.java
Labels: unit test

#207 Small documentation change for enums
  app/src/main/java/Enums/INDEX_TYPE.java
  app/src/main/java/Enums/USER_TYPE.java
Labels: Documentation

#203 View Activity UI Tests and some generalization/refactorization of ui test methods
  app/src/androidTest/java/Activities/ActivityBank.java
  app/src/androidTest/java/Activities/LoginInstrumentedTest.java
  app/src/androidTest/java/Activities/PatientHomeMenuActivityTest.java
  app/src/androidTest/java/Activities/ProviderHomeMenuActivityTest.java
  app/src/androidTest/java/Activities/SignUpInstrumentedTest.java
  app/src/androidTest/java/Activities/ViewUserActivityTest.java
  app/src/main/java/Activities/ViewUserActivity.java
Labels: Documentation, UI-Test

#215 Patient and Provider model documentation
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Patient.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Provider.java
Labels: Documentation

#200 Problem, Record and Patient Record Elasticsearch with testing complete
  .idea/codeStyles/Project.xml
  app/src/androidTest/java/Controllers/ElasticsearchPatientRecordControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchProblemControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchRecordControllerTest.java
  app/src/main/java/Controllers/ElasticsearchPatientRecordController.java
  app/src/main/java/Controllers/ElasticsearchPatientRecordsController.java
  app/src/main/java/Controllers/ElasticsearchProblemController.java
  app/src/main/java/Controllers/ElasticsearchRecordController.java
  app/src/main/java/Controllers/ElasticsearchRecordsController.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/PatientRecord.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Problem.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Record.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/User.java
  app/src/test/java/com/cmput301f18t20/medicalphotorecord/PatientRecordUnitTests.java
  app/src/test/java/com/cmput301f18t20/medicalphotorecord/ProblemUnitTest.java
  app/src/test/java/com/cmput301f18t20/medicalphotorecord/RecordUnitTests.java
Labels: controller

#242 Date tests now pass
  app/src/androidTest/java/Controllers/ElasticsearchPatientRecordControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchProblemControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchRecordControllerTest.java
Labels: bug

#244 Added date last modified and unit tests for it
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Problem.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/Record.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/User.java
  app/src/test/java/com/cmput301f18t20/medicalphotorecord/ProblemUnitTest.java
  app/src/test/java/com/cmput301f18t20/medicalphotorecord/RecordUnitTests.java
  app/src/test/java/com/cmput301f18t20/medicalphotorecord/UserTests.java
Labels: basic functionality, unit test

#239 Improve elasticsearch controllers
  app/src/androidTest/java/Controllers/ElasticsearchPatientControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchPatientRecordControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchProblemControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchProviderControllerTest.java
  app/src/androidTest/java/Controllers/ElasticsearchRecordControllerTest.java
  app/src/androidTest/java/Controllers/Utils.java
  app/src/main/java/Controllers/ElasticsearchPatientController.java
  app/src/main/java/Controllers/ElasticsearchPatientRecordController.java
  app/src/main/java/Controllers/ElasticsearchProblemController.java
  app/src/main/java/Controllers/ElasticsearchProviderController.java
  app/src/main/java/Controllers/ElasticsearchRecordController.java
  app/src/main/java/GlobalSettings/GlobalSettings.java
  app/src/test/java/com/cmput301f18t20/medicalphotorecord/PatientAndProviderCanSeeEachOther.java
  testResults/Test Results - All_Tests - 2018-11-24-2-56-PM.html
Labels: controller

#268 Michael add security token
  app/src/androidTest/java/Controllers/ElasticsearchSecurityTokenAndUserIDPairControllerTest.java
  app/src/androidTest/java/Controllers/IOLocalSecurityTokenAndIDPairControllerTest.java
  app/src/main/java/Controllers/ElasticsearchController.java
  app/src/main/java/Controllers/ElasticsearchPatientController.java
  app/src/main/java/Controllers/ElasticsearchPatientRecordController.java
  app/src/main/java/Controllers/ElasticsearchProblemController.java
  app/src/main/java/Controllers/ElasticsearchProviderController.java
  app/src/main/java/Controllers/ElasticsearchRecordController.java
  app/src/main/java/Controllers/ElasticsearchSecurityTokenAndUserIDPairController.java
  app/src/main/java/Controllers/IOLocalSecurityTokenAndIDPairController.java
  app/src/main/java/Controllers/OfflineSaveController.java
  app/src/main/java/GlobalSettings/GlobalSettings.java
  app/src/main/java/com/cmput301f18t20/medicalphotorecord/SecurityTokenAndUserIDPair.java
  app/src/test/java/com/cmput301f18t20/medicalphotorecord/SecurityTokenAndUserIDPairTest.java
Labels: controller
